# Archivos y carpetas de Unity que NO deben ser versionados
Online_Videogame/[Ll]ibrary/
Online_Videogame/[Tt]emp/
Online_Videogame/[Oo]bj/
Online_Videogame/[Bb]uild/
Online_Videogame/[Bb]uilds/
Online_Videogame/[Ll]ogs/
Online_Videogame/UserSettings/

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos específicos del editor
Online_Videogame/*.csproj
Online_Videogame/*.unityproj
Online_Videogame/*.sln
Online_Videogame/*.suo
Online_Videogame/*.tmp
Online_Videogame/*.user
Online_Videogame/*.userprefs
Online_Videogame/*.pidb
Online_Videogame/*.booproj
Online_Videogame/*.svd

# Archivos específicos de Visual Studio
Online_Videogame/.vscode/
Online_Videogame/.VS/
Online_Videogame/*.pdb
Online_Videogame/*.mdb
Online_Videogame/*.opendb

# Otros archivos que pueden ser innecesarios
*.swp
*.bak
*.orig
*.idb
